<config>
	<General>
		<heartbeat-rate>100</heartbeat-rate> <!-- Heartbeat rate in ms-->
		<heartbeat-timeout>1000</heartbeat-timeout>
	</General>
	
	<Orchestrators>
		<Orchestrator id="0">
			<ip>127.0.0.1</ip>			
			<port>43000</port>
			<nodes-refresh-rate>1000</nodes-refresh-rate>
		</Orchestrator>
	</Orchestrators>
	
	<FrontEnds>
		<FrontEnd id="0">
			<port>8182</port>
			<isServer>false</isServer>
		</FrontEnd>
	</FrontEnds>
	
	<PartitionManagers>
		<PartitionManager id = "10">
			<ip>127.0.0.1</ip>
			<port>43010</port>
		</PartitionManager>
		
		<PartitionManager id = "11">
			<ip>127.0.0.1</ip>
			<port>43011</port>
		</PartitionManager>
		
	</PartitionManagers>
	
	<DataNodes>
	    <WorkDir>
	       C:/Haitham/DNs/
	       <!-- /home/shaithm/Test/DN/ -->
	    </WorkDir>
	    <DataNode id="100">
	        <ip>127.0.0.1</ip>
	        <port>43100</port>
	    </DataNode>
	     <DataNode id="101">
	        <ip>127.0.0.1</ip>
	        <port>43101</port>
	    </DataNode>
	     <DataNode id="102">
	        <ip>127.0.0.1</ip>
	        <port>43102</port>
	    </DataNode>
	    <DataNode id="103">
	        <ip>127.0.0.1</ip>
	        <port>43103</port>
	    </DataNode>
	</DataNodes>
	
	
</config>